.book {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

h1 {
    margin-bottom: 1em;
}

img {
    max-width: 40%;
    margin-bottom: 0 auto 1em;
}

.about-book, .actions {
    padding: 1.2em;
}

.about-book {
    max-width: 60%;
    min-width: 250px;
}

.about-book p {
    margin-bottom: 2em;
}


.comments {
    padding: 1.5em 0 0.5em 0;
    width: 100%;
    margin-top: 5em;
    
}

.about-book h3, .comments h3 {
    margin-bottom: 1em;
}

.comment-container {
    border-bottom: 1px solid #efefef;
    padding: 1em 0;
    margin-bottom: 1.5em;
  
}

.comment {
    font-size: 1rem;
    margin-bottom: 10px;
}

input, textarea {
    margin-top: 10px;
    border: none;
    background-color: rgba(255,255,255, 0.3);
    padding: 0.5em 0.5em;
    width: 90%;
}

.author {
    font-size: 0.8em;
}

.comment-form {
    margin-bottom: 5em;
    margin-top: 5em;
    width: 60%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-form form{
    margin-top: 1em;
    text-aign: left;
}

.author span {
    font-weight: bold;
}

.book .content {
    background-color: #454545;
    display: flex;
    flex-direction: row;
    padding: 1.5em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.book-title {
    width: 40%;
    min-width: 300px;
}

.form-group{
    margin-bottom: 1.5em;
}

.actions {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
