<div class="book" *ngIf="book">
    <h1>{{book.title}}</h1>

    <img src="{{baseApiUrl}}/uploads/{{book.image}}" alt="{{book.title}}">

    <div class="about-book">
        <h3>Sobre este livro:</h3>
        <p>{{book.description}}</p>
    </div>

    <div class="actions">
        <h3>Ações:</h3>
        <a href="/books/edit/{{book.id}}" class="edit-btn">
            <fa-icon [icon]="faEdit"></fa-icon>Editar
        </a>

        <button class="remove-btn" (click)="removeHandler(book.id!)">
            <fa-icon [icon]="faTimes" ></fa-icon>Excluir
        </button>
    </div>

    <div class="comments">
        <h3>Comentários (0):</h3>
    </div>
</div>