<div class="book" *ngIf="book">

    <div class="content">
        <div class="book-title">
            <h1>{{book.title}}</h1>
            <img src="{{baseApiUrl}}uploads/{{book.image}}" alt="{{book.title}}">
        </div>
       

        <div class="about-book">
            <h3>Sobre este livro:</h3>
            <p>{{book.description}}</p>
            
            <div class="actions">
                <h3>Ações:</h3>
                <a href="/books/edit/{{book.id}}" class="edit-btn">
                    <fa-icon [icon]="faEdit"></fa-icon>Editar
                </a>
    
                <button class="remove-btn" (click)="removeHandler(book.id!)">
                    <fa-icon [icon]="faTimes" ></fa-icon>Excluir
                </button>
            </div>
        </div>

        
    </div>


    <div class="comments">
        <h3>Comentários ({{book.comments!.length > 0 ? book.comments!.length : 0}}):</h3>
    </div>
    <div *ngIf="book.comments!.length > 0; else noComments">
        <div class="comment-container" *ngFor="let comment of book.comments">
            <p class="comment">{{comment.text}}</p>
            <p class="author"><span>por: </span>{{comment.username}}</p>
        </div>
    </div>

    <ng-template #noComments>
        <p>Não há comentários</p>
    </ng-template>

    <div class="comment-form">
        <h3>O que achou do livro?</h3>
        <form [formGroup]="commentForm" #formDir="ngForm" (ngSubmit)="onSubmit(formDir)">
            <div class="form-group">
                <label for="text">Comentário:</label>
                <textarea formControlName="text" placeholder="O que você quer comentar?" required></textarea>

                <div *ngIf="text.invalid && formDir.submitted">
                    <p *ngIf="text.errors?.['required']" class="err">O comentário é obrigatória</p>
                </div>
            </div>
            <div class="form-group">
                <label for="username">Nome:</label>
                <input formControlName="username" type="text" placeholder="Digite seu nome" required/>

                <div *ngIf="username.invalid && formDir.submitted">
                    <p *ngIf="username.errors?.['required']" class="err">O nome é obrigatória</p>
                </div>
            </div>
            <input type="submit" value="Enviar!">
        </form>
    </div>
</div>