<form (ngSubmit)="submit()" [formGroup]="bookForm" #formDir="ngForm">
    <input type="hidden" formControlName="id">
    <div class="form-group">
        <label for="title">Título: </label>
        <input type="text" placeholder="Digite o título do livro" formControlName="title" required/>
        <div *ngIf="title.invalid && formDir.submitted">
            <p *ngIf="title.errors?.['required']" class="err">O título é obrigatório</p>
        </div>
    </div>
    <div class="form-group">
        <label for="Sinopse">Sinopse: </label>
        <textarea placeholder="Insira a sinopse" required formControlName="description"></textarea>
        <div *ngIf="description.invalid && formDir.submitted">
            <p *ngIf="description.errors?.['required']" class="err">O descrição é obrigatória</p>
        </div>
    </div>
    <div class="form-group">
        <label for="image">Capa: </label>
        <input type="file" (change)="onFileSelected($event)"/>
    </div>
    <input type="submit" value="{{ btnText }}">
</form>