<form (ngSubmit)="submit()" [formGroup]="bookForm" #formDir="ngForm">
    <input type="hidden" formControlName="id">
    <div class="styled-input form-group ">
        
        <input type="text" formControlName="title" placeholder="Título do livro" required/>
        <div *ngIf="title.invalid && formDir.submitted">
            <p *ngIf="title.errors?.['required']" class="err">O título é obrigatório</p>
        </div>
    </div>
    <div class="form-group styled-input">
       
        <textarea required formControlName="description" placeholder="Sinopse"></textarea>
        <div *ngIf="description.invalid && formDir.submitted">
            <p *ngIf="description.errors?.['required']" class="err">A sinopse é obrigatória</p>
        </div>
    </div>
    <div class="form-group styled-input">
        <label for="capa">Selecionar capa</label>
        <input type="file" (change)="onFileSelected($event)" id="capa"/>
    </div>
    <input type="submit" value="{{ btnText }}">
</form>