.err {
    color: red;
    margin-top: .4em;
    border-left: 3px solid red;
    padding-left: .2em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
    min-width: 60%;
    padding: 1em;
}


