.about {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 90%;
    padding: 1em;
    margin: 1em auto;
}

h3 {
    margin-bottom: 1em;
    font-size: 26px;
}

.about a {
    text-decoration: underline;
    margin-top: 1em;
}

.namdhinggo-bold {
    font-family: "Namdhinggo", serif;
    font-weight: 700;
    font-style: normal;
  }

span {
   color: #007bff;
  }

h1 {
    font-size: 3.5em;
}

.pourpose img {
    width: 65%;
    border-radius: 1.3em;
    
}

.pourpose {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin-top: 7%;
}

p{
    
    width: 70%;
}

.text {
    margin-bottom: 2em;
}

.authors {
    display: flex;
}

.author {
    width: 30%;
    border-radius: 1.3em;
    background-color: aliceblue;
    margin-right: 2em;
    text-align: center;
    height: 420px;
}

.author img {
    width: 100%;
    height: 350px;
    border-top-right-radius: 1.3em;
}
.author p {
    position: relative;
    color: black;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

ul .card {
    margin-bottom: 2em;
}

.card {
   
    width: 30%;
    background-color: aliceblue;
    border-radius: 1.3em;
    padding: 1em;
    color: black;
    margin-right: 2em;
    text-align: center;
}

.card b {
    color:#007bff;
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
}


.call-to-action {
    margin: 2em auto;
    text-align:center;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.number-icon {
    width: 50px;
    margin-right: 2em;
}

.why-us {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.vl {
    border-left: 6px solid #007bff;
    height: 40px;
    left: 50%;
    margin-right: 2em;
    z-index: -1;
  }

.call-to-action {
    margin-top: 4em;
    background-color: #93c5ff71;
    padding: 20px;
    border-radius: 0.5em;
}